extends ../../layouts/default.pug

include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
  h1 #{pageTitle}

  +alert-error(5000)
  +alert-success(5000)

  form(
    action=`${prefixAdmin}/accounts/create`
    method="POST"
    enctype="multipart/form-data"
  )
    .form-group
      label(for="fullName") Họ tên *
      input.form-control(
        type="text"
        id="fullName"
        name="fullName"
        required
      )

    .form-group
      label(for="email") Email *
      input.form-control(
        type="email"
        id="email"
        name="email"
        required
      )

    .form-group
      label(for="password") Mật khẩu *
      input.form-control(
        type="password"
        id="password"
        name="password"
        required
      )

    .form-group
      label(for="phone") Số điện thoại
      input.form-control(
        type="text"
        id="phone"
        name="phone"
      )

    .form-group(upload-image image-form)
      label(for="avatar") Avatar
      input.form-control-file(
        type="file"
        id="avatar"
        name="avatar"
        accept="image/*"
        upload-image-input
      )
      img.image-preview(
        src=""
        upload-image-preview
      )

    .form-group
      label(for="role_id") Phân quyền
      select.form-control(name="role_id" id="role_id")
        option(value = "" disabled selected) -- Chọn --
        each role in roles 
            option(value= role.id)  #{role.title}
       

    .form-group.form-check.form-check-inline
      input.form-check-input(
        type="radio"
        id="statusActive"
        name="status"
        value="active"
        checked
      )
      label.form-check-label(for="statusActive") Hoạt động

    .form-group.form-check.form-check-inline
      input.form-check-input(
        type="radio"
        id="statusInActive"
        name="status"
        value="inactive"
      )
      label.form-check-label(for="statusInActive") Dừng hoạt động

    .form-group
      button.btn.btn-primary(type="submit") Tạo mới
