mixin formChangeMultiStatus(path)
  //- Thụt lề form vào trong 1 cấp so với mixin
  form(
    action=path
    method="POST"
    form-change-multi
  )
    .d-flex.align-items-start
      .form-group
        select(name="type" class="form-control")
          option(value="" disabled selected) ---Chọn hành động--- 
          option(value="active") Hoạt động
          option(value="inactive") Dừng hoạt động
          option(value="deleteAll") Xóa tất cả
          option(value="change-position") Thay doi vi tri  
      
      .form-group
        input(
          type="text"
          name="ids"
          value=""
          class="form-control d-none" 
        )
      
      //- Thêm dấu cách trước chữ "Áp dụng"
      button(type="submit" class="btn btn-primary") Áp dụng